@font-face {
    font-family: noto;
    src: url(NotoSerifJP-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: noto;
    src: url(NotoSerifJP-ExtraLight.otf);
    font-weight: 100;
    font-style: normal;
}
*{font-family: noto;
/* background-color: black; */
} 

.top img{
  width: 100%; /* ширина на весь экран */
  height: 270px; /*  */
}
.header{
    position: relative;
    padding-bottom: 25px;
}
.container-header{
    position: absolute;
    top: 50%;
    /* отступ сверха 50% */
    width: 100%; /* занимает 100% ширины */
    text-align: center; /* расположение текста по центру */
} 
.container-header h1{
    font-family: Noto Serif Display;
    color: #f9f9f9;
    font-size: 60px;    
    font-weight: 300; /* устанавливаем насыщенность шрифта */
    font-variant: small-caps; /*Модифицирует все строчные символы как заглавные уменьшенного размера */
}
.links{
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
}
.links a{
    text-decoration: none;
    font-size: 25px;
    width: 80%;
    color: #f9f9f9;
} 
.container{
    max-width: 1000px;
    width: 100%; /* занимает 100% ширины */
    margin: auto;
}
.about{
    padding-top: 20px;    /* отступ сверху */
    padding-bottom: 30px;
    width: 100%; /* занимает 100% ширины */
} 

h2{
    text-align: center; /*расположение текста по центру */
    font-size: 35px;
    font-weight: 400;
}
.about p{
    text-align: center; /*расположение текста по центру */
    font-size: 20px;
    line-height: 50px;     /* расстояние между строками */
}
.container-steps{
    background-color: black;
    color: #f9f9f9;
    padding-top: 20px;  /* отступ сверху */
    padding-bottom: 30px;
    /* width: 100%; занимает 100% ширины */
} 
.step p{ 
    text-align: center; /*расположение текста по центру */
    font-size: 20px;
    line-height: 50px;     /* расстояние между строками */
} 
.steps{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* деление на колонки */
}
.steps1, .steps2{
    width: 50%;
}
.step1, .step2{
    height: 292px;
    /* высота одной карточки */
}

.step1-text h3, .step2-text h3{
    font-size: 20px;
    font-weight: 100;
    font-style: normal;    
}
.step1-text p, .step2-text p{
    font-size: 17px;
}
.step1{
display: flex;
flex-direction: column;
align-items: end;
padding-right: 10px;
}
.step1 h3, .step1 p{
    text-align: right;
}
.step2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    }
.step2 h3, .step2 p{
    text-align: left;
}
.steps img{
    padding-bottom: 10px;
}

.container-clients{
    padding-top: 20px;    /* отступ сверху */
    padding-bottom: 30px;
}
.clients{
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.clients1{
    width: 50%;
}
.clients2{
    width: 50%;
}
.client{
    height: 265px;    /* одинаковая высота блока клиента иконок */
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* расположение текста и иконки по центру  */
    justify-content: space-around;
    /* равномерное расположение карточки клиента по вертикали */
    padding-top: 10px;
}

.container-awards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* разделение на 2 столбца */
}
.awards1, .awards2{
    width: 50%;
}
.award{
    display: flex;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}
.award-text{
    padding-left: 10px;
}

.footer{
    padding-top: 45px;
}
.footer-block{
    width: 100%;
    text-align: center;
    background-color: black;
    height: 60px;
}
.footer-block .links{
    padding-top: 10px;
}

#slider-container{
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 550px; 
    padding-top: 25px;
    padding-bottom: 25px;
}
.slide{
    position: absolute;
    width: 100%;
}
.slide img{
    filter: brightness(70%); /* затемнение картинок на слайде */
}
.slide1{
    position: relative;
    display: flex;
    align-items: center;
    /* расположение текста по центру картинки */
}
.slide1 p{
    position: absolute;
    font-size: 23px;
    text-align: center;
    color: #f9f9f9;
    line-height: 38px;
    /* расстояние между строками */
    width: 90%;
    left: 5%;
    /* центрирование текста от стрелок */
}
#slider-container button{
    position: absolute;
    top: 50%;
    cursor: pointer;
    background: none; 
    border: transparent; /* прозрачный фон и граница у кнопок */
}

#prevBtn{
    left: 5px;
}
#nextBtn{
    right: 5px;
}

.cards{
    padding-top: 25px;
}
.card-body p{
    font-weight: 100;
    /* толщина шрифта вкарточках проектов */
 } 

.contact-block{
    display: flex;
}
.contacts{
    padding-left: 20px;
    padding-top: 35px;
}
.map{
    padding-top: 40px;
}
.contacts h2{
    text-align: left;
}
.contacts p{
    padding-top: 10px;
    line-height: normal;
    text-align: left;
}